In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert('1tcd.mmtf')

In [5]:
msm.info(molecular_system, target='atom', indices=[7,8,9,10,11,12])

In [10]:
msm.info(molecular_system, target='atom', selection='group.index==6')

In [15]:
msm.info(molecular_system, target='group', indices=[20,21,22,23])

In [18]:
msm.info(molecular_system, target='component', selection='molecule.type!="water"')

In [21]:
msm.info(molecular_system, target='chain')

In [23]:
msm.info(molecular_system, target='component', selection='molecule.type!="water"')

In [24]:
msm.info(molecular_system, target='molecule', selection='molecule.type!="water"')

In [25]:
msm.info(molecular_system, target='entity')

In [26]:
msm.info(molecular_system)