In [1]:
%load_ext autoreload
%autoreload 2

# Extract

## How to extract a molecular subsystem

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert(msm.demo['T4 lysozyme L99A']['181l.msmpk'])

In [4]:
msm.info(molecular_system, target='entity')

In [5]:
msm.select(molecular_system, selection='molecule_type=="water"')

array([1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315,
       1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326,
       1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337,
       1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348,
       1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359,
       1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370,
       1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381,
       1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392,
       1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403,
       1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414,
       1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425,
       1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436,
       1437, 1438, 1439, 1440])

In [6]:
water = msm.extract(molecular_system, selection='molecule_type=="water"')

In [7]:
msm.info(water)

In [8]:
molsys = msm.extract(molecular_system, selection='molecule_type==["water", "protein"]')

In [9]:
msm.info(molsys)

- Include here the extraction of files. File to files and file to other forms.