In [1]:
%load_ext autoreload
%autoreload 2

# Extract

## How to extract a molecular subsystem

In [2]:
import molsysmt as msm

In [3]:
molecular_system = msm.convert(msm.demo['T4 lysozyme L99A']['181l.msmpk'])

In [5]:
msm.info(molecular_system, element='entity')

In [6]:
water = msm.extract(molecular_system, selection='molecule_type=="water"')

In [7]:
msm.info(water)

In [ ]:
molsys = msm.extract(molecular_system, selection='molecule_type==["water", "protein"]')

In [ ]:
msm.info(molsys)

- Include here the extraction of files. File to files and file to other forms.