In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import molsysmt as msm

# Removing atoms and frames from a molecular system

## Removing frames

In [4]:
molecular_system = msm.convert(msm.test_systems.files['trp-cage.pdb'])

In [5]:
msm.info(molecular_system)

In [6]:
molecular_system_trimmed = msm.remove(molecular_system, frame_indices=range(1,38))

In [7]:
msm.info(molecular_system_trimmed)

## Removing atoms

In [8]:
molecular_system = msm.convert(msm.test_systems.files['1tcd.pdb'])

In [9]:
msm.info(molecular_system)

In [10]:
molecular_system_trimmed = msm.remove(molecular_system, selection='chain.index==[1,2,3]')

In [11]:
msm.info(molecular_system_trimmed)

## Removing hydrogen atoms

In [18]:
pdbfile = msm.test_systems.files['trp-cage.pdb']
molecular_system = msm.convert(pdbfile, frame_indices=0)

In [20]:
n_Hs = msm.get(molecular_system, selection='atom.type=="H"', n_atoms=True)
print('{} number of hydrogens in the system'.format(n_Hs))

150 number of hydrogens in the system

In [21]:
molecular_system = msm.remove_hydrogens(molecular_system)

In [22]:
n_Hs = msm.get(molecular_system, selection='atom.type=="H"', n_atoms=True)
print('{} number of hydrogens in the system'.format(n_Hs))

0 number of hydrogens in the system

## Removing the solvent

In [23]:
pdbfile = msm.test_systems.files['trp-cage_solvated.pdb']
molecular_system = msm.convert(pdbfile, frame_indices=0)

In [24]:
msm.info(molecular_system)

In [26]:
molecular_system = msm.remove_solvent(molecular_system)

In [27]:
molecular_system.topology

,atom.index,atom.name,atom.id,atom.type,atom.formal_charge,atom.bonded_atom_indices,group.index,group.name,group.id,group.type,...,chain.id,chain.type,molecule.index,molecule.name,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type
0,0,N,1,N,NaN,"[1, 2, 3, 4]",0,ASN,1,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
1,1,H,2,H,NaN,[0],0,ASN,1,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
2,2,H2,3,H,NaN,[0],0,ASN,1,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
3,3,H3,4,H,NaN,[0],0,ASN,1,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
4,4,CA,5,C,NaN,"[0, 5, 6, 14]",0,ASN,1,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,299,OG,300,O,NaN,"[296, 300]",19,SER,20,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
300,300,HG,301,H,NaN,[299],19,SER,20,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
301,301,C,302,C,NaN,"[294, 302, 303]",19,SER,20,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
302,302,O,303,O,NaN,[301],19,SER,20,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None
303,303,OXT,304,O,NaN,[301],19,SER,20,aminoacid,...,A,None,0,None,NaN,None,0,None,NaN,None