In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import molmodmt as m3t

/home/diego/Myopt/miniconda3/envs/UIBCDF_lab_dev/lib/python3.7/site-packages/yank/experiment.py:1170: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """)

_ColormakerRegistry()

In [3]:
#molmod_test = m3t.load('1brs.pdb', to_form='mdtraj.Trajectory')
#m3t.convert('mmtf:1tcd', '1tcd.mmtf')

In [4]:
aa = m3t.convert('1tcd.pdb', 'mdtraj.Trajectory')

In [59]:
bb = m3t.convert(aa, 'molmodmt.DataFrame')

In [60]:
bb

,atom.index,atom.name,atom.id,atom.type,atom.element,group.index,group.name,group.id,group.type,component.index,...,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type,bioassembly.index,bioassembly.name,bioassembly.id,bioassembly.type
0,0,N,1,N,N,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CA,2,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,C,3,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,O,4,O,O,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,CB,5,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3981,O,O,657,HOH,339,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,3979,O,3982,O,O,658,HOH,340,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,3980,O,3983,O,O,659,HOH,341,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,3981,O,3984,O,O,660,HOH,342,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,3982,O,3985,O,O,661,HOH,343,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
atom = aa.topology.atom(0)

In [56]:
chain = aa.topology.chain(0)

In [57]:
chain.index

0

In [48]:
bb

,atom.index,atom.name,atom.id,atom.type,atom.element,group.index,group.name,group.id,group.type,component.index,...,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type,bioassembly.index,bioassembly.name,bioassembly.id,bioassembly.type
0,0,N,1,N,N,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CA,2,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,C,3,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,O,4,O,O,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,CB,5,C,C,0,LYS,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3981,O,O,657,HOH,339,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,3979,O,3982,O,O,658,HOH,340,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,3980,O,3983,O,O,659,HOH,341,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,3981,O,3984,O,O,660,HOH,342,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,3982,O,3985,O,O,661,HOH,343,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cc, bonds = aa.topology.to_dataframe()

In [22]:
help(aa.topology.atom(0))

Help on Atom in module mdtraj.core.topology object:

class Atom(builtins.object)
 |  Atom(name, element, index, residue, serial=None)
 |
 |  An Atom object represents a residue within a Topology.
 |
 |  Attributes
 |  ----------
 |  name : str
 |      The name of the Atom
 |  element : mdtraj.element.Element
 |      The element of the Atoms
 |  index : int
 |      The index of the Atom within its Topology
 |  residue : mdtraj.topology.Residue
 |      The Residue this Atom belongs to
 |  serial : int
 |      The serial number from the PDB specification. Unlike index,
 |      this may not be contiguous or 0-indexed.
 |
 |  Methods defined here:
 |
 |  __eq__(self, other)
 |      Check whether two Atom objects are equal.
 |
 |  __hash__(self)
 |      A quick comparison.
 |
 |  __init__(self, name, element, index, residue, serial=None)
 |      Construct a new Atom.  You should call add_atom() on the Topology instead of calling this directly.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  is_backbone
 |      Whether the atom is in the backbone of a protein residue
 |
 |  is_sidechain
 |      Whether the atom is in the sidechain of a protein residue
 |
 |  n_bonds
 |      Number of bonds in which the atom participates.
 |
 |  segment_id
 |      User specified segment_id of the residue to which this atom belongs

In [18]:
cc

      serial name element  resSeq resName  chainID segmentID
0          1    N       N       4     LYS        0
1          2   CA       C       4     LYS        0
2          3    C       C       4     LYS        0
3          4    O       O       4     LYS        0
4          5   CB       C       4     LYS        0
...      ...  ...     ...     ...     ...      ...       ...
3978    3981    O       O     339     HOH        3
3979    3982    O       O     340     HOH        3
3980    3983    O       O     341     HOH        3
3981    3984    O       O     342     HOH        3
3982    3985    O       O     343     HOH        3

[3983 rows x 7 columns]

In [61]:
from mmtf import parse

In [62]:
parse('1tcd.pdb')

ExtraData: unpack(b) received extra data.