In [1]:
%load_ext autoreload
%autoreload 2

# Extracting a molecular subsystem

## How to extract a molecular subsystem

In [2]:
import molsysmt as msm

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [3]:
molecular_system = msm.convert(msm.demo.TcTIM['1tcd.msmpk'])

In [4]:
msm.info(molecular_system, target='entity')

In [5]:
msm.select(molecular_system, selection='molecule_type=="water"')

array([3818, 3819, 3820, ..., 3980, 3981, 3982])

In [6]:
water = msm.extract(molecular_system, selection='molecule_type=="water"')

In [7]:
msm.info(water)

- Include here the extraction of files. File to files and file to other forms.