In [1]:
%load_ext autoreload
%autoreload 2

# Extracting a molecular subsystem

## How to extract a molecular subsystem

In [2]:
import molsysmt as msm

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [3]:
molecular_system = msm.demo.files['1sux.mmtf']

In [4]:
molecular_system = msm.convert(msm.demo.files['1sux.mmtf'])

/home/diego/Projects/molsysmt/molsysmt/native/io/topology/classes/mmtf_MMTFDecoder.py:43: UserWarning: The structure in the PDB has biological assemblies. There are geometrical transformations proposed in the structure. See the following issue in the source code repository: https://github.com/uibcdf/MolSysMT/issues/33
  warnings.warn(warning_message)

In [5]:
msm.info(molecular_system, target='entity')

In [6]:
msm.select(molecular_system, selection='molecule_type=="water"')

array([3883, 3884, 3885, ..., 4254, 4255, 4256])

In [7]:
small_molecule = msm.extract(molecular_system, selection='molecule_type=="water"')

In [8]:
msm.info(small_molecule)

- Include here the extraction of files. File to files and file to other forms.