# Barnase-Barstar

In [1]:
import molsysmt as msm

In [2]:
molsys = msm.convert('1BRS')

/home/diego/projects@dprada/MolSysMT/molsysmt/item/mmtf_MMTFDecoder/to_molsysmt_Topology.py:34: UserWarning: The structure in the PDB has biological assemblies. There are geometrical transformations proposed in the structure. See the following issue in the source code repository: https://github.com/uibcdf/MolSysMT/issues/33
  warnings.warn(warning_message)
/home/diego/projects@dprada/MolSysMT/molsysmt/item/mmtf_MMTFDecoder/to_molsysmt_Topology.py:48: UserWarning: The bioassembly has a different number of chains than the total amount of chains
  warnings.warn(warning_message)

In [3]:
msm.info(molsys)

In [4]:
molsys = msm.extract(molsys, selection='molecule_type=="protein"')

In [5]:
msm.info(molsys)

In [6]:
msm.info(molsys, element='molecule')

In [7]:
msm.info(molsys, element='chain')

In [8]:
msm.view(molsys)

NGLWidget()

In [9]:
barnase = msm.extract(molsys, selection="chain_name=='B'")
barstar_E = msm.extract(molsys, selection="chain_name=='E'")
barstar_F = msm.extract(molsys, selection="chain_name=='F'")

In [10]:
msm.view([barnase, barstar_E, barstar_F])

NGLWidget()

In [11]:
barstar_F_over_E = msm.structure.align(barstar_F, selection='atom_name=="CA"',
                                       reference_molecular_system=barstar_E, reference_selection='atom_name=="CA"')

In [12]:
msm.view([barnase, barstar_E, barstar_F_over_E])

NGLWidget()

In [13]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [14]:
msm.view(barnase_barstar)

NGLWidget()

In [15]:
msm.build.get_missing_heavy_atoms(barnase_barstar)

{131: ['CD', 'CE', 'NZ'],
 137: ['CG', 'CD', 'OE1', 'OE2'],
 155: ['CG', 'CD', 'OE1', 'OE2'],
 173: ['CG', 'CD', 'OE1', 'OE2'],
 174: ['CG', 'OD1', 'ND2'],
 198: ['O']}

In [16]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [17]:
msm.contains(barnase_barstar, hydrogens=True)

False

In [18]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

/home/diego/projects@dprada/MolSysMT/molsysmt/item/molsysmt_Topology/get.py:287: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if indices == 'all':

0

In [19]:
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)

In [20]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

1563

In [21]:
msm.convert(barnase_barstar, to_form='my_barnase_barstar.pdb')

'my_barnase_barstar.pdb'