# Barnase-Barstar

In [1]:
import molsysmt as msm

In [2]:
molsys = msm.convert('1BRS')

In [3]:
msm.info(molsys)

In [4]:
molsys = msm.extract(molsys, selection='molecule_type=="protein"')

In [5]:
msm.info(molsys)

In [6]:
msm.info(molsys, element='molecule')

In [7]:
msm.info(molsys, element='chain')

In [9]:
msm.view(molsys)

NGLWidget()

In [12]:
barnase = msm.extract(molsys, selection="chain_name=='B'")
barstar_E = msm.extract(molsys, selection="chain_name=='E'")
barstar_F = msm.extract(molsys, selection="chain_name=='F'")

In [ ]:
msm.view([barnase, barstar_E, barstar_F])

In [ ]:
barstar_F_over_E = msm.structure.align(barstar_F, selection='atom_name=="CA"',
                                       reference_molecular_system=barstar_E, reference_selection='atom_name=="CA"')

In [ ]:
msm.view([barnase, barstar_E, barstar_F_over_E])

In [ ]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [ ]:
msm.view(barnase_barstar)

In [ ]:
msm.build.get_missing_heavy_atoms(barnase_barstar)

In [ ]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

In [ ]:
msm.contains(barnase_barstar, hydrogens=True)

In [ ]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

In [ ]:
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)

In [ ]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

In [ ]:
msm.convert(barnase_barstar, to_form='my_barnase_barstar.pdb')

In [ ]:
from os import remove
remove('my_barnase_barstar.pdb')