In [ ]:
# This cell is removed with the tag: "remove-input"
# As such, it will not be shown in documentation

import warnings
warnings.filterwarnings('ignore')

static_dir = '../../../_static/nglview/about/showcase/barnase_barstar/'
nglview_htmlfiles = [
    static_dir+'1BRS.html',
    static_dir+'before_fit.html',
    static_dir+'after_fit.html',
    static_dir+'barnase_barstar.html',
] # in order of apparence

# Barnase-Barstar

In [1]:
import molsysmt as msm

In [2]:
molsys = msm.convert('1BRS')

In [3]:
msm.info(molsys)

In [4]:
molsys = msm.extract(molsys, selection='molecule_type=="protein"')

In [5]:
msm.info(molsys)

In [6]:
msm.info(molsys, element='molecule')

In [7]:
msm.info(molsys, element='chain')

In [8]:
msm.view(molsys)

In [12]:
barnase = msm.extract(molsys, selection="chain_name=='B'")
barstar_E = msm.extract(molsys, selection="chain_name=='E'")
barstar_F = msm.extract(molsys, selection="chain_name=='F'")

In [13]:
msm.view([barnase, barstar_E, barstar_F])

In [16]:
barstar_F_over_E = msm.structure.align(barstar_F, selection='atom_name=="CA"',
                                       reference_molecular_system=barstar_E, reference_selection='atom_name=="CA"')

In [17]:
msm.view([barnase, barstar_E, barstar_F_over_E])

In [20]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [21]:
msm.view(barnase_barstar)

In [24]:
msm.build.get_atoms_with_alternate_locations(barnase_barstar)

[]

In [25]:
msm.build.get_missing_heavy_atoms(barnase_barstar)

{131: ['CD', 'CE', 'NZ'],
 137: ['CG', 'CD', 'OE1', 'OE2'],
 155: ['CG', 'CD', 'OE1', 'OE2'],
 173: ['CG', 'CD', 'OE1', 'OE2'],
 174: ['CG', 'OD1', 'ND2'],
 198: ['O']}

In [26]:
msm.build.get_missing_residues(barnase_barstar)

{}

In [27]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [28]:
msm.contains(barnase_barstar, hydrogens=True)

False

In [29]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

0

In [30]:
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)

In [31]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

1563

In [32]:
msm.convert(barnase_barstar, to_form='barnase_barstar.pdb')

'barnase_barstar.pdb'

In [33]:
from os import remove
remove('barnase_barstar.pdb')