In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import molmodmt as m3t
from molmodmt.forms.files.api_mmtf import to_mmtf_MMTFDecoder
from molmodmt.native import DataFrame
import pandas as pd
import numpy as np

_ColormakerRegistry()

In [3]:
dataframe_mmtf = m3t.convert('1tcd.mmtf', 'molmodmt.DataFrame')

In [4]:
#dataframe_pdb = m3t.convert('1tcd.pdb', 'molmodmt.DataFrame')

In [5]:
openmm_topology = m3t.convert('1tcd.pdb', to_form='openmm.Topology')

In [18]:
dataframe = m3t.convert(openmm_topology, 'molmodmt.DataFrame')

In [19]:
dataframe_mmtf

,atom.index,atom.name,atom.id,atom.type,atom.bonded_atom_indices,group.index,group.name,group.id,group.type,component.index,...,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type,bioassembly.index,bioassembly.name,bioassembly.id,bioassembly.type
0,0,N,1,N,[1],0,LYS,4,aminoacid,0,...,NaN,protein,0,TRIOSEPHOSPHATE ISOMERASE,NaN,protein,0,1,NaN,NaN
1,1,CA,2,C,"[0, 2, 4]",0,LYS,4,aminoacid,0,...,NaN,protein,0,TRIOSEPHOSPHATE ISOMERASE,NaN,protein,0,1,NaN,NaN
2,2,C,3,C,"[1, 3, 9]",0,LYS,4,aminoacid,0,...,NaN,protein,0,TRIOSEPHOSPHATE ISOMERASE,NaN,protein,0,1,NaN,NaN
3,3,O,4,O,[2],0,LYS,4,aminoacid,0,...,NaN,protein,0,TRIOSEPHOSPHATE ISOMERASE,NaN,protein,0,1,NaN,NaN
4,4,CB,5,C,"[1, 5]",0,LYS,4,aminoacid,0,...,NaN,protein,0,TRIOSEPHOSPHATE ISOMERASE,NaN,protein,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3979,O,[],657,HOH,339,water,162,...,NaN,water,1,water,NaN,water,0,1,NaN,NaN
3979,3979,O,3980,O,[],658,HOH,340,water,163,...,NaN,water,1,water,NaN,water,0,1,NaN,NaN
3980,3980,O,3981,O,[],659,HOH,341,water,164,...,NaN,water,1,water,NaN,water,0,1,NaN,NaN
3981,3981,O,3982,O,[],660,HOH,342,water,165,...,NaN,water,1,water,NaN,water,0,1,NaN,NaN
3982,3982,O,3983,O,[],661,HOH,343,water,166,...,NaN,water,1,water,NaN,water,0,1,NaN,NaN

In [20]:
dataframe

,atom.index,atom.name,atom.id,atom.type,atom.bonded_atom_indices,group.index,group.name,group.id,group.type,component.index,...,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type,bioassembly.index,bioassembly.name,bioassembly.id,bioassembly.type
0,0,N,1,N,[1],0,LYS,4,aminoacid,0,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
1,1,CA,2,C,"[0, 2, 4]",0,LYS,4,aminoacid,0,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2,C,3,C,"[1, 3, 9]",0,LYS,4,aminoacid,0,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
3,3,O,4,O,[2],0,LYS,4,aminoacid,0,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
4,4,CB,5,C,"[1, 5]",0,LYS,4,aminoacid,0,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3981,O,[],657,HOH,339,water,162,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
3979,3979,O,3982,O,[],658,HOH,340,water,163,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
3980,3980,O,3983,O,[],659,HOH,341,water,164,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
3981,3981,O,3984,O,[],660,HOH,342,water,165,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
3982,3982,O,3985,O,[],661,HOH,343,water,166,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN