In [1]:
%load_ext autoreload
%autoreload 2

# Barnase-Barstar complex

In [2]:
import molsysmt as msm

In [3]:
molsys = msm.convert('1BRS')

/home/diego/projects/MolSysMT/molsysmt/form/mmtf_MMTFDecoder/to_molsysmt_Topology.py:34: UserWarning: The structure in the PDB has biological assemblies. There are geometrical transformations proposed in the structure. See the following issue in the source code repository: https://github.com/uibcdf/MolSysMT/issues/33
  warnings.warn(warning_message)
/home/diego/projects/MolSysMT/molsysmt/form/mmtf_MMTFDecoder/to_molsysmt_Topology.py:48: UserWarning: The bioassembly has a different number of chains than the total amount of chains
  warnings.warn(warning_message)

In [4]:
msm.info(molsys)

In [5]:
molsys = msm.build.remove_waters(molsys)

In [6]:
msm.info(molsys, target='molecules')

In [7]:
msm.build.has_hydrogens(molsys)

False

In [8]:
msm.info(molsys, target='chain')

In [9]:
missing_atoms = msm.build.get_missing_heavy_atoms(molsys)

/home/diego/MyMachine/locals/miniconda/envs/MolSysMT/lib/python3.7/site-packages/openmm/app/internal/pdbstructure.py:538: UserWarning: WARNING: duplicate atom (ATOM   2692  CB  SER D  14      32.757  22.571   1.533  1.00  0.00           C  , ATOM   2690  CB  SER D  14      32.742  22.579   1.536  1.00  0.00           C  )
  warnings.warn("WARNING: duplicate atom (%s, %s)" % (atom, old_atom._pdb_string(old_atom.serial_number, atom.alternate_location_indicator)))
/home/diego/MyMachine/locals/miniconda/envs/MolSysMT/lib/python3.7/site-packages/openmm/app/internal/pdbstructure.py:538: UserWarning: WARNING: duplicate atom (ATOM   2693  OG  SER D  14      33.396  21.920   2.619  1.00  0.00           O  , ATOM   2691  OG  SER D  14      31.412  22.410   1.076  1.00  0.00           O  )
  warnings.warn("WARNING: duplicate atom (%s, %s)" % (atom, old_atom._pdb_string(old_atom.serial_number, atom.alternate_location_indicator)))

In [10]:
missing_atoms

{234: ['CG', 'CD', 'CE', 'NZ'],
 237: ['CG', 'OD1', 'OD2'],
 244: ['CD', 'OE1', 'OE2'],
 246: ['CG', 'CD', 'OE1', 'NE2'],
 254: ['CD', 'CE', 'NZ'],
 260: ['CG1', 'CG2'],
 264: ['CG', 'CD', 'CE', 'NZ'],
 282: ['OG'],
 325: ['O'],
 383: ['OE1', 'NE2'],
 385: ['NZ'],
 386: ['CG', 'CD', 'OE1', 'NE2'],
 422: ['NE', 'CZ', 'NH1', 'NH2'],
 429: ['CG', 'CD', 'OE1', 'NE2'],
 465: ['NE', 'CZ', 'NH1', 'NH2'],
 469: ['CG', 'CD', 'OE1', 'NE2'],
 471: ['CG', 'CD', 'CE', 'NZ'],
 472: ['CG', 'CD', 'OE1', 'NE2'],
 473: ['CG', 'CD1', 'CD2'],
 520: ['CD', 'CE', 'NZ'],
 526: ['CG', 'CD', 'OE1', 'OE2'],
 544: ['CG', 'CD', 'OE1', 'OE2'],
 562: ['CG', 'CD', 'OE1', 'OE2'],
 563: ['CG', 'OD1', 'ND2'],
 587: ['O']}

In [11]:
missing_atoms.keys()

dict_keys([234, 237, 244, 246, 254, 260, 264, 282, 325, 383, 385, 386, 422, 429, 465, 469, 471, 472, 473, 520, 526, 544, 562, 563, 587])

In [12]:
msm.info(molsys, target='group', indices=list(missing_atoms.keys()))

In [13]:
msm.get(molsys, target='component', n_groups=True, chain_name=True)

[[108, 110, 108, 63, 24, 62, 24, 89],
 array(['A', 'B', 'C', 'D', 'D', 'E', 'E', 'F'], dtype=object)]

In [14]:
molsys2 = msm.build.add_missing_heavy_atoms(molsys)

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [15]:
msm.get(molsys, target='component', n_groups=True, chain_name=True)

[[108, 110, 108, 63, 24, 62, 24, 89],
 array(['A', 'B', 'C', 'D', 'D', 'E', 'E', 'F'], dtype=object)]

In [16]:
msm.info(molsys, target='component')

In [17]:
#msm.info(molsys, target='atom', selection='component_index==4')

In [18]:
#msm.info(molsys, target='atom', selection='component_index==5')

In [19]:
msm.view(molsys)

NGLWidget()

In [20]:
molsys_AD = msm.extract(molsys, selection='chain_name==["A","D"]')
molsys_BE = msm.extract(molsys, selection='chain_name==["B","E"]')
molsys_CF = msm.extract(molsys, selection='chain_name==["C","F"]')

In [21]:
msm.topology.get_sequence_alignment(molsys_BE, selection='all',
                                    reference_molecular_system=molsys_AD,
                                    reference_selection='all')

('AQVINTFDGVADYLQTYHKLPDNYITKSEAQALGWVASKGNLADVAPGKSIGGDIFSNREGKLPGKSGRTWREADINYTSGFRNSDRILYSSDWLIYKTTDHYQTFTKIR-KAVINGEQIRSISDLHQTLKKELALPEYYGENLDALWDALTGWVEYPLVLEWRQFEQSKQLTGAESVLQVFREAKAEGADITIILS',
 '--VINTFDGVADYLQTYHKLPDNYITKSEAQALGWVASKGNLADVAPGKSIGGDIFSNREGKLPGKSGRTWREADINYTSGFRNSDRILYSSDWLIYKTTDHYQTFTKIRKKAVINGEQIRSISDLHQTLKKELALPEYYGENLDALWDALTGWVEYPLVLEWRQFEQSKQLTGAESVLQVFREAKAEGADITIILS')

In [22]:
molsys_BE_over_AD = msm.structure.align(molsys_BE, reference_molecular_system=molsys_AD)

In [23]:
msm.basic.are_multiple_molecular_systems(molsys_AD)

False

In [28]:
msm.view([molsys_AD, molsys_BE_over_AD])

NGLWidget()

In [29]:
aa, bb, cc = msm.topology.get_sequence_identity(molsys_CF, selection='all', reference_molecular_system=molsys_AD,
                                  reference_selection='all')

In [30]:
len(bb)

195

In [31]:
len(cc)

195

In [33]:
for res_bb, res_cc in zip(bb,cc):
    back_bb = msm.select(molsys_CF, selection='backbone and group_index==@res_bb')
    back_cc = msm.select(molsys_AD, selection='backbone and group_index==@res_cc')
    if len(back_bb)!=len(back_cc):
        print(msm.info(molsys_CF, target='atom', indices=back_bb, output='long_string'))
        print(msm.info(molsys_AD, target='atom', indices=back_cc, output='long_string'))

['N-2571@828/ARG-110@107/C-C@0/Barnase@0', 'CA-2572@829/ARG-110@107/C-C@0/Barnase@0', 'C-2573@830/ARG-110@107/C-C@0/Barnase@0']
['N-853@852/ARG-110@107/A-A@0/Barnase@0', 'CA-854@853/ARG-110@107/A-A@0/Barnase@0', 'C-855@854/ARG-110@107/A-A@0/Barnase@0', 'O-856@855/ARG-110@107/A-A@0/Barnase@0']
['N-4635@1532/SER-89@196/F-F@1/Barstar@1', 'CA-4636@1533/SER-89@196/F-F@1/Barstar@1', 'C-4637@1534/SER-89@196/F-F@1/Barstar@1']
['N-3271@1553/SER-89@194/D-D@1/Barstar@1', 'CA-3272@1554/SER-89@194/D-D@1/Barstar@1', 'C-3273@1555/SER-89@194/D-D@1/Barstar@1', 'O-3274@1556/SER-89@194/D-D@1/Barstar@1']