In [1]:
%load_ext autoreload
%autoreload 2

# Barnase-Barstar complex

In [2]:
import molsysmt as msm

In [3]:
msm.get_form('1BRS')

'string:pdb_id'

In [4]:
molsys = msm.convert('1BRS')

/home/diego/projects/MolSysMT/molsysmt/tools/mmtf_MMTFDecoder/to_molsysmt_Topology.py:30: UserWarning: The structure in the PDB has biological assemblies. There are geometrical transformations proposed in the structure. See the following issue in the source code repository: https://github.com/uibcdf/MolSysMT/issues/33
  warnings.warn(warning_message)
/home/diego/projects/MolSysMT/molsysmt/tools/mmtf_MMTFDecoder/to_molsysmt_Topology.py:44: UserWarning: The bioassembly has a different number of chains than the total amount of chains
  warnings.warn(warning_message)

In [8]:
msm.select(molsys, selection='group_type=="water"')

AttributeError: 'MolSys' object has no attribute 'elements_item'

In [6]:
molsys = msm.build.remove_waters(molsys)

AttributeError: 'MolSys' object has no attribute 'elements_item'

In [5]:
msm.info(molsys, target='molecules')

/home/diego/projects/MolSysMT/molsysmt/tools/molsysmt_Topology/get.py:1136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  output = np.array(output)

In [ ]:
msm.get(molsys, n_proteins=True)

In [ ]:
molecular_system = msm.build.remove_waters(molecular_system)

In [ ]:
msm.info(molecular_system, target='entity')

In [ ]:
msm.build.has_hydrogens(molecular_system)

In [ ]:
msm.info(molecular_system, target='chain')

In [ ]:
msm.topology.get_covalent_blocks(molecular_system, selection='chain_index==3')

In [ ]:
msm.info(molecular_system, target='atom', selection='atom_index==[3099, 3100]')

In [ ]:
missing_atoms = msm.build.get_missing_heavy_atoms(molsys)

In [ ]:
missing_atoms

In [ ]:
missing_atoms.keys()

In [ ]:
msm.info(molecular_system, target='group', indices=missing_atoms)

In [ ]:
msm.get(molecular_system, target='component', n_groups=True, chain_name=True)

In [ ]:
molecular_system = msm.build.add_missing_heavy_atoms(molecular_system)

In [ ]:
msm.get(molecular_system, target='component', n_groups=True, chain_name=True)

In [ ]:
msm.info(molecular_system, target='component')

In [ ]:
msm.info(molecular_system, target='atom', selection='component_index==4')

In [ ]:
msm.info(molecular_system, target='atom', selection='component_index==5')

In [ ]:
msm.view(molecular_system)

In [ ]:
molecular_system_A_D = msm.extract(molecular_system, selection='chain_name==["A","D"]')
molecular_system_B_E = msm.extract(molecular_system, selection='chain_name==["B","E"]')
molecular_system_C_F = msm.extract(molecular_system, selection='chain_name==["C","F"]')

In [ ]:
molecular_system_B_E_over_A_D = msm.structure.align(molecular_system_B_E, reference_molecular_system=molecular_system_A_D)

In [ ]:
msm.view([molecular_system_A_D, molecular_system_B_E_over_A_D])

In [ ]:
aa, bb, cc = msm.topology.get_sequence_identity(molecular_system_C_F, selection='all', reference_molecular_system=molecular_system_A_D,
                                  reference_selection='all')

In [ ]:
len(bb)

In [ ]:
len(cc)

In [ ]:
for res_bb, res_cc in zip(bb,cc):
    back_bb = msm.select(molecular_system_C_F, selection='backbone and group_index==@res_bb')
    back_cc = msm.select(molecular_system_A_D, selection='backbone and group_index==@res_cc')
    if len(back_bb)!=len(back_cc):
        print(msm.info(molecular_system_C_F, target='atom', indices=back_bb, output='long_string'))
        print(msm.info(molecular_system_A_D, target='atom', indices=back_cc, output='long_string'))

In [ ]:
molecular_system_C_F_over_A_D = msm.structure.align(molecular_system_C_F, reference_molecular_system=molecular_system_A_D)