In [1]:
%load_ext autoreload
%autoreload 2

# Barnase-Barstar complex

In [2]:
import molsysmt as msm

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

no need to add nglview patch

In [3]:
molecular_system_pdb = msm.convert('1brs.pdb', to_form='molsysmt.MolSys')
molecular_system_mmtf = msm.convert('1brs.mmtf', to_form='molsysmt.MolSys')

The bioassembly has a different number of chains than the total amount of chains

/home/diego/projects/MolSysMT/molsysmt/native/io/topology/mmtf_MMTFDecoder.py:27: UserWarning: The structure in the PDB has biological assemblies. There are geometrical transformations proposed in the structure. See the following issue in the source code repository: https://github.com/uibcdf/MolSysMT/issues/33
  warnings.warn(warning_message)
/home/diego/projects/MolSysMT/molsysmt/native/io/topology/mmtf_MMTFDecoder.py:42: UserWarning: The bioassembly has a different number of chains than the total amount of chains
  warnings.warn(warning_message)

In [6]:
molecular_system_pdb = msm.build.remove_waters(molecular_system_pdb)
msm.info(molecular_system_pdb)

In [7]:
molecular_system_mmtf = msm.build.remove_waters(molecular_system_mmtf)
msm.info(molecular_system_mmtf)

In [12]:
n_atoms_per_group_pdb = msm.get(molecular_system_pdb, target='group', n_atoms=True)
n_atoms_per_group_mmtf = msm.get(molecular_system_mmtf, target='group', n_atoms=True)

In [26]:
np.where(np.array(n_atoms_per_group_pdb)!=np.array(n_atoms_per_group_mmtf))[0]

array([339])

In [27]:
msm.info(molecular_system_pdb, target='atom', selection='group_index==339')

In [28]:
msm.info(molecular_system_mmtf, target='atom', selection='group_index==339')